body {
    background-color: honeydew;
  }
h1{ 
    color: rgb(38, 114, 207);
    font-family: Bitter;
    font-size: 300%
  }

p{
    color:rgb(0, 0, 0);
    font-family: Libre Baskerville;
    font-size: 96%
}

p {
  width: 450px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

