body {
    background-color: honeydew;
  }
h1{ 
    color: rgb(38, 114, 207);
    font-family: Bitter;
    font-size: 300%
  }

p{
    color:rgb(0, 0, 0);
    font-family: Libre Baskerville;
    font-size: 96%
}

p {
  width: 450px;
}

.sidenav {
  width: 90px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

