body {
    background-color: honeydew;
  }
h1{ 
    color: rgb(141, 143, 196);
    font-family: Bitter;
    font-size: 300%
  }

p{
    color:rgb(0, 0, 0);
    font-family: Libre Baskerville;
    font-size: 96%
}

.body {
  width: 300px;
  left: 300px;
  overflow-x: hidden;
  padding: 8px 0;
}
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  display: inline;
}

/* Add a black background color to the top navigation */
.topnav {
  float: top;
  display: block;
  background-color: rgb(141, 143, 196);
  text-decoration: none;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: top;
  color: honeydew;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: rgb(201, 202, 239);
}

